/* Farben */
:root {
    --barun: #69622c;
    --waldgruen: #697b43;
    --hellgruen: #c9d8b6;
    --beige: #f6f4f0;
    --schwarz: #000000
}

/* Hintergrundbild auf alle Seiten */
body {
    background-image: url('Hintergrund_Einladung.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--waldgruen);
}

/* Mobile Anpassung */
@media (max-width: 768px) {
    body {
        background-position: top center;
    }
}

/* Navigationsleiste oben */
nav {
    background-color: var(--beige);
    width: 100%;
    padding: 32px 0;
    box-shadow: 0 2px 8px rgba(100,100,60,0.07);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

nav a {
    color: var(--waldgruen);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.2s;
}

nav a:hover {
    color: var(--barun);
}

h1 {
    color: var(--barun);
}

main {
    padding: 48px;
    background: var(--hellgruen);
    border-radius: 12px;
    max-width: 600px;
    margin: 64px auto;
    box-shadow: 0 2px 8px rgba(100,100,60,0.061);
}

p {
    color: var(--waldgruen);
    font-size: 1.1em;
}

b {
    color: var(--waldgruen);
    font-weight: bold;
    font-size: 1.1em;
}

sig {
    color: var(--waldgruen);
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Great Vibes", cursive;
}

.link-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: waldgruen;
    color: beige;
    text-decoration: none;
    border-radius: 6px;
}

.floral-frame {
  padding: 10px;
  border-radius: 30px;
  background: linear-gradient(135deg, #fcefee, #e8f5e9);
  display: inline-block;
}

.blob-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 60% 40% 55% 45% / 60% 30% 70% 40%;
}

.floral-frame img {
  border-radius: 20px;
  display: block;
}
