/* Farben */
:root {
    --sage: #C9E9D2;
    --waldgruen: #6A9C89;
    --beige: #FEF9F2;
    --rosa: #FFE3E3
}

/* Hintergrundbild auf alle Seiten */
body {
    background-image: url('Wedding_1.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--waldgruen);
}

/* Navigationsleiste oben */
nav {
    background-color: var(--beige);
    width: 100%;
    padding: 32px 0;
    box-shadow: 0 2px 8px rgba(100,100,60,0.07);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

nav a {
    color: var(--waldgruen);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.2s;
}

nav a:hover {
    color: var(--sage);
}

h1 {
    color: var(--sage);
}

main {
    padding: 48px;
    background: rgba(255,255,255,0.79);
    border-radius: 12px;
    max-width: 600px;
    margin: 64px auto;
    box-shadow: 0 2px 8px rgba(100,100,60,0.061);
}

p {
    color: var(--waldgruen);
    font-size: 1.1em;
}




